<?xml version="1.0"?>

<model>
  <name>NASA Lunabotics 2022 Competiton Arena</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Benned Hedegaard</name>
    <name>Francesca Daszak</name>
  </author>

  <description>
    Gazebo model of the NASA Lunabotics 2022 arena
  </description>

</model>
