<launch>
	<node name="simulator_node" pkg="simulator" type="simulator_node"/>
	<node name="test_command_node" pkg="simulator" type="test_command_node"/>
	<node name="gui_node" pkg="gui" type="gui_node"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gui)/rviz/simulator-demo-gui.rviz"/>
</launch>
